/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
app/Providers/AppServiceProvider.php
config/app.php
routes/web.php
app/Providers/AppServiceProvider.php
app/Http/Controllers/youtubeController.php
resources/views/welcome.blade.php
resources/views/myvideo.blade.php
