.navname{
	font-family:'Sacramento';
	color:#816a77;
	font-size:25px;
	font-weight: 1000;
}
.navpic{
	height:7vh;
	margin-top: -5px;
	margin-left: -40px;
}
body{
	background-color: #a0ddd8;
}
.navbar{
	border-width: 0px;
	font-weight:400;
	font-family:'Berkshire Swash';
	color:#816a77;
	font-size:20px;
	height:60px;
	margin-bottom: 0px;

}
.dropdown{
	background-color: white;
}
.dropdown-menu{
	background-color: white;

}
@media (max-width: 1025px) {
	.navbar{
		height: 110px;
	}
	.navpic{
		margin-left: 0px;
		height:5vh;
	}
}
@media (max-width: 768px) {
	.navbar{
		height: 90px;
	}
	.navpic{
		margin-left: 0px;
	}
} 
@media (max-width: 480px) {
	.navbar{
		height: 60px;
	}
	.navpic{
		margin-left: 0px;
	}
}
