.btn{
	background-color: #ffbcb1;
	
	border-width: 0px;
	font-family:'Berkshire Swash';
	color:#816a77;
}
.forh{
	font-weight:400;
	font-family:'Berkshire Swash';
	color:#816a77;
	font-size:50px;
}
.well{
	font-family:'Berkshire Swash';
	color:black;

}
.well a{
	color:#816a77;
	text-decoration: none;
}
.postarea{
	margin-top: 20px;
}
.postarea h1{
font-family:'Berkshire Swash';
	color:#816a77;
	font-size:30px;
}
.postarea p{
	font-family:'Berkshire Swash';
	color:#816a77;
	font-size:20px;
}

@media (max-width: 480px) {
	.forh{
font-size:20px;
}
.poss{
	font-size:20px;
}
.well{
	font-size: 14px;
}
.postarea h1{
font-family:'Berkshire Swash';
	color:#816a77;
	font-size:20px;
}
.postarea p{
	font-family:'Berkshire Swash';
	color:#816a77;
	font-size:15px;
}
}







