html,body{
	 width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
body{
	background-color: #FEE8F4;
	
}
.bton{
	background-color: #a0ddd8;
	border-radius:0px;
	border-width:0px;
	color:black;
	padding:8px;
	margin-bottom: 10px;
	font-family: 'Dosis';

}
.jumbotron{
	background-color:white;
	margin-left:300px;
	margin-right: 300px;
	margin-top:50px;
}
.logop{
	height:50vh;margin: auto;
}
.apptitle{
	font-family: 'Sacramento';
	font-size:40px;
	font-weight:1000;
	color:#816a77;
}